*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Segoe UI', sans-serif;
}

/*---------------------------------------Clases compartidas---------------------------------------*/

.float {
    float:left;
}

.padding-lr {
    padding-left: 15px;
    padding-right: 15px;
}


/*---------------------------------------Header---------------------------------------*/
.header {
    background-color: rgb(63, 73, 95);
    height: 50px;
    padding-top: 0.1px;
    margin-bottom: 10px;
}

.lista {
    width: 80%;
    padding: 0;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.list {
    display: inline-block;
    height: 50px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.link-list {
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    
}

.list:hover {
    background-color: rgba(50, 50, 50, 0.5);
}
/*---------------------------------------main---------------------------------------*/

.main {
    background-color: rgb(236, 236, 228);
    width: 70%;
}

.title {
    font-size: 2rem;
    color: rgb(56, 56, 56);
    text-align: center;
    margin: 0px;
}

.container-img {
    max-width: 400px;
    max-height: 400px;
    min-width: 200px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.img {
    width: 100%;
}

/*---------------------------------------Aside---------------------------------------*/

.container-img-2 {
    max-width: 200px;
    min-width: 100px;
    max-height: 200px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.aside {
    background-color: #CDFFB4;
    color: rgb(56, 56, 56);
    width: 30%;
}


/*---------------------------------------Footer---------------------------------------*/

.footer {
    background-color: rgb(63, 73, 95);
    height: 150px;
    clear: both;
    padding-top: 64px;
    padding-bottom: 64px;
}

.title-footer {
    color: white;
}